<!-- ---
const benefits = [
  {
    icon: "/images/icon-visibilidad.png",
    title: "¡Mejor Visibilidad Online!",
    text: "Optimiza tu presencia en internet y llega a más clientes potenciales. ¡Haz que te encuentren fácilmente!"
  },
  // ... otros beneficios
];
---

<section class="section-2">
  <h3 class="section2__tittle">Tu crecimiento empieza aquí</h3>
  
  <section class="container__benefits">
    {benefits.map(benefit => (
      <div class="section2__benefits">
        <img src={benefit.icon} alt={benefit.title} />
        <h4>{benefit.title}</h4>
        <p>{benefit.text}</p>
      </div>
    ))}
  </section>
</section> -->