---
import Logo from "../assets/logo.webp";
// import LanguageSelector from "./LanguageSelector.astro";
// import SwitchTheme from "./SwitchTheme.astro";
---

<header class="header">
    <a href="/" class="header__logo">
        <img src={Logo.src} alt="Logo Brian Exequiel" class="header__logo-image" />
      </a>
      <nav class="header__nav">
        <ul class="header__nav-list">
          <li class="header__nav-item"><a href="/portfolio" class="header__nav-link">Portfolio</a></li>
          <li class="header__nav-item"><a href="/services" class="header__nav-link">Servicios</a></li>
          <li class="header__nav-item"><a href="/resources" class="header__nav-link">Recursos</a></li>
          <li class="header__nav-item"><a href="/blog" class="header__nav-link">Blog</a></li>
        </ul>
      </nav>
      <div class="header__language-switcher">
        <!-- <LanguageSelector />
        <SwitchTheme /> -->
        <button class="header__contact-button">Contacto</button>
      </div>
      <label class="burger">
        <input type="checkbox" id="burger"/>
        <span></span>
        <span></span>
        <span></span>
      </label>
</header>

<style>
    .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    height: 6.25rem;
    margin: 0 auto;
    padding: 0 1rem;

}
.header__logo {
    display: flex;
    align-items: center;
    width: clamp(11.25rem, 10.795rem + 2.273vi, 12.5rem);
    height: auto;
}
.header__nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
}
.header__nav-link {
    position: relative;
}

.header__nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background: var(--gradient);
    transition: width 0.3s ease;
}

.header__nav-link:hover::after {
    width: 100%;
}
.header__language-switcher {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
}
.header__contact-button {
    color: var(--white);
    font-weight: 500;
    background: var(--gradient);
    padding: .5rem 1.5rem;
    border-radius: .5rem;
}

.header__contact-button:hover {
    opacity: 0.80;
}

.header__contact-button:active {
    transform: scale(0.98);
}
.burger {
    position: relative;
    width: 2.5rem;
    height: 30px;
    background: transparent;
    cursor: pointer;
    display: none;
}

.burger input {
    display: none;
}

.burger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: black;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
}

.burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
}

.burger span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
}

.burger input:checked~span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 5px;
}

.burger input:checked~span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
}

.burger input:checked~span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 28px;
    left: 5px;
}
  @media (max-width: 920px) {
    .header__nav {
      display: none;
    }
    .header__language-switcher {
      display: none;
    }
    .burger {
      display: block;
    }
  }
</style>