---
const profileImage = "/images/profile.png";
---

<section class="hero-section">
  <div class="hero__container-left">
    <h2 class="hero__pvu">Transformando ideas en <br><span>negocios digitales exitosos</span></h2>
    <p>Con experiencia en diseño UX/UI y programación, transformo ideas en negocios digitales asegurando resultados que conectan con usuarios y atraen clientes.</p>
  </div>
  
  <div class="hero__container-right">
    <img src={profileImage} alt="Brian Exequiel" />
  </div>
</section>